@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;600;700&display=swap');

// Set your brand colors
$purple: #8A4D76;
$pink: #3f2c2f;
$brown: #757763;
$beige-light: #ffffff;
$beige-lighter: #ffffff;

// Update Bulma's global variables
$family-sans-serif: "Assistant", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;
$widescreen-enabled: true;
$fullhd-enabled: true;

//Navbar
$navbar-breakpoint: 0; //Show full navbar on mobile, avoid items hiding
$navbar-height: 3rem;


// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

@import '~bulma'
