@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;600;700&display=swap');

// Set your brand colors
$black: #232323;
$pink: #F4B0BF;
$grey-light: #F9F9F9;
$white: #FFFFFF;

// Update Bulma's global variables
$family-sans-serif: "Assistant", sans-serif;
$grey-dark: $black;
$grey-light: $grey-light;
$primary: $black;
$link: $black;
$info:  #F4B0BF; 
$widescreen-enabled: true;
$fullhd-enabled: true;

//Navbar
$navbar-breakpoint: 0; //Show full navbar on mobile, avoid items hiding
$navbar-height: 3rem;


// Update some of Bulma's component variables
$body-background-color: $white;

// Controls and inputs
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Box
$box-background-color: $white;
$box-color: $black;
$box-shadow: 0;
$box-padding: 3rem;

//Footer
$footer-padding: 3rem 1.5rem 3rem;
$footer-background-color: $grey-light;

//Card
$card-shadow: 0 0 0 rgba($white, 0.1);
$card-content-padding: 1.5rem 0 1.5rem 0;

@import '~bulma'
